<div class="home-div">
	<div class="main">
		<div class="images">
			<mat-card class="card-img">
				<img class="top-img img-l" src="/assets/home/1.jpg" alt="Photo showing the parking canopy outside the premises">
			</mat-card>
			<mat-card class="card-img">
				<img class="top-img img-r" src="/assets/home/2.jpg" alt="Photo showing the living room of the premises with couches, a center table and a television">
			</mat-card>
		</div>
		<br><br>
		<div class="flex">
			<div class="t1 t">
				<span class="head1">The Residence, Abuja</span>
				<br><br>
				<div class="content1">
					<mat-icon>
						<span class="icon material-symbols-outlined">location_on</span>
					</mat-icon>
					<span>&nbsp;House 15, Cadastral Zone, Wuse, Abuja</span>
				</div>
				<br>
				<div class="content1">
					&nbsp;&nbsp;4 guests max. &middot; 2 bedrooms &middot; 2 bathrooms
				</div>
				<br><br><br><br>
				<div class="content2">
					Situated in a vibrant neighbourhood, the SNL Nigeria Residence is a thoughtfully designed, fully
					furnished home that effortlessly combines modern amenities with a warm,
					welcoming atmosphere. Immerse yourself in a space where every detail has been carefully considered
					to ensure your stay is both comfortable and memorable. Enjoy your stay
					in the Residence.
				</div>
				<br><br><br>
				<hr class="col1">
				<br><br><br>
				<div class="head2">
					What the Residence offers
				</div>
				<br><br>
				<div class="flex">
					<div class="content2">
						<div class="content3">
							<mat-icon>
								<span class="icon material-symbols-outlined">home</span>
							</mat-icon>
							<span>&nbsp;Comfort</span>
						</div>
						<div class="break"></div>
						<div class="content-spacing">
							Full Kitchen
						</div>
						<div class="content-spacing">
							Air Conditioning
						</div>
						<div class="content-spacing">
							Laundry
						</div>
						<div class="content-spacing">
							Televisions
						</div>
						<div class="content-spacing">
							WiFi
						</div>
					</div>
					<div class="content2">
						<div class="content3">
							<mat-icon>
								<span class="icon material-symbols-outlined">lock</span>
							</mat-icon>
							<span>&nbsp;Security</span>
						</div>
						<div class="break"></div>
						<div class="content-spacing">
							On-Premises Security
						</div>
						<div class="content-spacing">
							Security Cameras
						</div>
						<br>
						<div class="content3">
							<mat-icon>
								<span class="icon material-symbols-outlined">outdoor_garden</span>
							</mat-icon>
							<span>&nbsp;Outdoors</span>
						</div>
						<div class="break"></div>
						<div class="content-spacing">
							Yard
						</div>
						<div class="content-spacing">
							Three-car Parking
						</div>
					</div>
				</div>
				<br><br><br>
				<hr class="col1">
				<br><br><br>
				<div class="head2">
					Residence Rules
				</div>
				<div class="content4 spacing">
					<ol>
						<li><span class="bold">Check-In/Check-Out: </span><span>Check-In is at 1:00pm while Check-Out is
								at 10am. Please respect these times to allow for a smooth transition</span></li>
						<li><span class="bold">Respect for Property: </span><span>Treat the Residence as you would your
								own home. Please report any accidental damages immediately to our Team</span></li>
						<li><span class="bold">No Smoking: </span><span>The Residence is a non-smoking property.</span>
						</li>
						<li><span class="bold">Pets: </span><span>No pets are allowed on the premises.</span></li>
						<li><span class="bold">Maximum Occupancy: </span><span>Guests are limited to the number agreed
								upon at the time of the Booking.</span></li>
						<li><span class="bold">Security: </span><span>The Residence provides an on-premises security
								staff. Please ensure that all doors and windows are securely shut before checking
								out.</span></li>
						<li><span class="bold">Applicances and Utilities: </span><span>Use appliances and utilities
								responsibly. Turn off lights, air-conditioning and heating when not in use.</span></li>
						<li><span class="bold">Waste Disposal: </span><span>Garbage collection bins are provided on the
								premises. Please dispose of all waste properly.</span></li>
					</ol>
					<br><br>
					Failure to comply with these rules may result in additional charges or eviction from the property.
					We appreciate your cooperation and hope you enjoy your stay at the Residence.
				</div>
			</div>
			<div class="t2 t">
				<mat-card class="card">
					<div class="head1">₦{{this.utilities.format_float(this.unit_cost.toString())}} <span class="content4">per night</span></div>
					<br>
					<mat-form-field class="c-input" appearance="fill" color="primary">
						<mat-label>Duration of Stay (days)</mat-label>
						<input type="number" matInput [(ngModel)]="stay" min="1" max="30" (change)="updateTotal()">
					</mat-form-field>
					<br>
					<div class="head1 right-text">₦{{this.utilities.format_float(this.total.toString())}} <span class="content4">total</span></div>
				</mat-card>
				<br><br>
				<mat-card class="body-img-card">
					<img class="body-img" src="/assets/home/3.jpg" alt="Photo showing the dining room of the premises with chairs, a table, a drinks cabinet, a television and a piece of art on the wall">
				</mat-card>
				<br>
				<mat-card class="body-img-card">
					<img class="body-img" src="/assets/home/4.jpg" alt="Photo showing the kitchen of the premises with a refrigerator, a microwave, four-burner cooker and cabinets">
				</mat-card>
			</div>
		</div>
	</div>
</div>