@import "variables.scss";

.main {
    width: 90%;
    margin: 0 auto;
    padding: 28px 32px;
}

.head1 {
    font-size: 24px;
    font-weight: 600;
}

.content1 {
    font-size: 16px;
    font-weight: 500;
}

.content2 {
    font-size: 16px;
    font-weight: 500;
    color: #29292c;
}

.head2 {
    font-size: 20px;
    font-weight: 600;
}

.col1 {
    color: #d3d3d3;
}

.content3 {
    font-size: 16px;
    font-weight: 600;
}

.content4 {
    font-size: 14px;
    font-weight: 500;
}

.spacing {
    line-height: 2em;
}

.flex {
    display: block;
}

.break {
    height: 5px;
}

.content-spacing {
    margin: 10px 0px;
}

.t {
    width: 95%;
}

.card {
    padding: 20px;
    border-radius: 12px;
}

.images {
    display: flex;
    justify-content: space-between;
}

.card-img {
    width: 49%;
    border-radius: 12px;
}

.img-l {
    border-radius: 12px 0px 0px 12px;
}

.img-r {
    border-radius: 0px 12px 12px 0px;
}

.body-img-card {
    width: 100%;
    border-radius: 12px;
    margin: 0 auto;
}

.body-img {
    border-radius: 12px;
}

// .carousel-div {
//     position: relative;
// }

// .carousel {
//     overflow-y: hidden;
//     overflow-x: auto;
//     // height: 90vh;
//     width: 100%;
//     white-space: nowrap;
//     display: flex;
//     flex-direction: row;
// }

// .slide-img, .carousel-img {
//     height: 100%;
//     border-radius: 12px;
//     z-index: 1;
// }

// .carousel-img {
//     margin: 5px;
//     width: 95%;
// }

// .slide-img {
//     width: 100%;
// }

// .back-button, .forward-button {
//     position: absolute;
//     top: 45vh;
//     // background-color: #eaeaeaa1;
//     background-color: $primary;
//     color: $light;
// }

// .back-button {
//     left: 20px;
//     z-index: 5;
// }

// .forward-button {
//     right: 20px;
//     z-index: 5;
// }

.swiper-div {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.s-l, .s-r {
    flex-grow: 1;
    align-content: center;
}

.s-c {
    flex-grow: 5;
    justify-content: center;
    align-items: center;
}

.swiper-img, .swiper-img-card, .swiper {
    height: 100%;
}

.swiper-img {
    display: block;
    margin: 0 auto;
    border-radius: 12px;
}

.back-button, .forward-button {
    background-color: $primary;
    color: $light;
}

.disabled-button {
    background-color: #d3d3d3;
}

@media only screen and (max-width: 600px) {

    //smaller mobile devices
    .t {
        width: 95%;
    }

    .flex {
        display: block;
    }
}

@media only screen and (min-width: 600px) {

    //small mobile devices
    .t {
        width: 95%;
    }

    .flex {
        display: block;
    }
}

@media only screen and (min-width: 768px) {

    //tablets
    .t {
        width: 50%;
    }

    .flex {
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 992px) {

    //laptops and larger
    .t {
        width: 45%;
    }

    .flex {
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 1200px) {

    //laptops and larger
    .t {
        width: 45%;
    }

    .flex {
        display: flex;
        justify-content: space-between;
    }
}